.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); /* Restar el espacio de la Navbar */
    padding: 2rem 0;
}

.authCard {
    background-color: var(--surface-color);
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.authCard h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.authCard form div {
    margin-bottom: 1rem;
}

.authCard label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.authCard input[type="text"],
.authCard input[type="email"],
.authCard input[type="password"],
.authCard input[type="url"] {
    background-color: var(--surface-color-secondary);
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    border-color: var(--primary-color);
    transition: border-color 0.2s;
}

.authCard input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 1px var(--primary-color);
}

.authCard button[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    font-weight: bold;
}

.authCard a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: var(--secondary-color);
    font-size: 0.9rem;
}