.homePageTitle {
    font-size: 1.7rem;
    color: var(--text-color-secondary);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.coursesGrid {
    display: grid;
    gap: 1.5rem;
    /* Ahora: minmax(320px, 1fr)  <- Prueba con 300px, 320px o 350px */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* Estilos para los mensajes de estado */
.loadingMessage,
.errorMessage {
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
}

.errorMessage {
    color: var(--error-color);
}